@import '~app/styles/colors';
@import '~app/styles/mixins';

#nav {
  .nav-item {
    padding: 1em;

    cursor: pointer;
    display: inline-block;

    a {
      outline: 0;
    }

    span {
      vertical-align: top;
      padding-left: 5px;
    }

    &:hover {
      @include nav-highlighted-mixin;
    }
  }

  .active-nav {
    @include nav-highlighted-mixin;
  }
}
